 @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: white;
}
#submit {
  background-color: limegreen;
}

.jumbotron {
  margin-top: 50px;
  background-color: snow;
}
.card {
  margin-left: 25px;
  margin-right: 25px;
  background-color: orchid;
  width: 300px;
}

hr {
  width: 70%;
}
#login{
  background-color:darkviolet;
  width:40%;
}
